.Rproj.user
.Rhistory
.RData
.Ruserdata


./.git/objects/04/d0b1dd5dc7c9e2a577739a314f06c8b2269592
./.git/objects/0c/a32e3e9982fe113090c87d109827508d7af070
./.git/objects/0f/41aa6bcf3f5652c0ca21466a8b7e312b6fe98e
./.git/objects/22/b5ec138085e96cdbc5dabf40e6ad9418be4acf
./.git/objects/25/d552c503331dfb398febc7013286113495ef7b
./.git/objects/26/867cc768afebac652e6b29f6d21ffcf476fa4f
./.git/objects/28/b2f3632d31612b0b5c1584798076d9cf50e7da
./.git/objects/41/adbe9923eed191bc5477497ddf260d08b5053b
./.git/objects/45/1721da79cce402642489478bdeeb5aed19689c
./.git/objects/49/042e419e462715fa9907ef6655194cc0417361
./.git/objects/75/846d0bff1d330072a65705c7b794a81c77b586
./.git/objects/8b/0fadb735e72aa5c03c469f4f25551493aec4c1
./.git/objects/8b/1d002403630f3a6e30de4b2916776f6f7bb483
./.git/objects/8d/5200f450330a082e1d035c7a8393d0612d3028
./.git/objects/8e/d2c286e85ecc894564fc977c39a0c4430682cb
./.git/objects/a5/af9623df1a562cd1f94113a5437130a95ce840
./.git/objects/a7/a53271683136f92c2af90a3df90c7af6cd09d4
./.git/objects/ca/b439a9db9b24881e87032291529af0ee0400d8
./.git/objects/da/3c4e7eba82a17bdfcc3cb61ba99f5b08ef29ab
./.Rproj.user/973FA9D2/ctx/ctx-15836/environmentTmp
./Analyse/Performance/SpecificP/brmsModels/wealth_control1_lag1.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_control1_lag2.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_control2.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_13FEcc.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_13FeeC.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_13ffEC.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_15FeeC.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_15Feecc.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_1Cent.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_1Lij.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_23FeeC.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_23ffEC.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_25FeeC.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_25Feecc.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_2Cent.rds
./Analyse/Performance/SpecificP/brmsModels/wealth_FKM_2Lij.rds
./Analyse/PerformanceAreas/DomesticSecurity/Diag/disp_ds.RDS
./Analyse/PerformanceAreas/Economy/Diag/disp_eco.RDS
./Analyse/PerformanceAreas/Social/Diag/disp_soc.RDS
./Analyse/V-Dem/robjects/c_disagree.RDS
